<div class="container">
  <form
    (ngSubmit)="newExpense(newExpForm)"
    #newExpForm="ngForm"
    *ngIf="!successFlag"
  >
    <div class="form-group">
      <label for="exampleFormControlSelect1"
        >For which group was the expense made</label
      >
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        name="name"
        #name="ngModel"
        [(ngModel)]="expense.forGroup"
      >
        <option
          value="{{ group.groupId }}"
          *ngFor="let group of this.auth.groups"
        >
          {{ group.name }}
        </option>
      </select>
    </div>
    <label>Username</label>
    <input
      type="text"
      class="form-control"
      name="name"
      #name="ngModel"
      [(ngModel)]="expense.name"
      placeholder="Name your expense"
      required
    />
    <small class="form-text text-warning" *ngIf="name.invalid && name.dirty">
      Username can't be empty
    </small>
    <label>Amount</label>
    <input
      type="number"
      class="form-control"
      name="name"
      #name="ngModel"
      [(ngModel)]="expense.amount"
      placeholder="Enter amount"
      required
    />
    <small class="form-text text-warning" *ngIf="name.invalid && name.dirty">
      Username can't be empty
    </small>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="newExpForm.pristine || newExpForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
