<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="/">Vaccine dB</a>
	<button class="navbar-toggler" type="button">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarColor02">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="nav-link" routerLink="about">About Us</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/partners">Partners</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/vaccines">Vaccines</a>
		</li>
  
		<li class="nav-item" *ngIf="auth.currentuser">
		  <a class="nav-link" routerLink="report/patient">Reports</a>
		</li>
	  </ul>
  
	  <div class="form-inline my-2 my-lg-0">
		<button
		  class="btn btn-primary"
		  routerLink="login"
		  *ngIf="!this.auth.isLoggedIn"
		>
		  Login
		</button>
		<button
		  class="btn btn-secondary"
		  routerLink="register"
		  *ngIf="!this.auth.isLoggedIn"
		>
		  Register
		</button>
		<div class="dropdown" *ngIf="auth.currentuser">
		  <button
			class="btn btn-primary dropdown-toggle"
			type="button"
			id="dropdownMenuButton"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
		  >
			Profile
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" routerLink="/home/patient">My Profile</a>
			<a class="dropdown-item" routerLink="edit/profile/patient">
			  Edit Profile
			</a>
			<a class="dropdown-item text-danger" routerLink="delete/patient">
			  Deactivate
			</a>
			<a class="dropdown-item" (click)="logout()" routerLink="/">Logout</a>
		  </div>
		</div>
	  </div>
	</div>
  </nav>
  