<div class="container">
  <div class="jumbotron my-3">
    <h1 class="display-4">{{ this.grp.name }}</h1>
    <hr class="my-4" />
    <p class="lead font-weight-bold">Members</p>
    <div *ngFor="let member of members; let i = index">
      <p class="lead font-weight-light">{{ i + 1 }}). {{ member }}</p>
    </div>

    <hr class="my-4" />
    <p class="lead font-weight-bold">Expenses</p>
    <p>
      The '+' before an amount denotes the Person who initially levied the
      costs, others are to the amount listed after their usernames.
    </p>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Expense Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Split Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses; let i = index">
          <th scope="row">
            {{ i + 1 }}
          </th>
          <td>{{ expense.name }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.splitBetween }}</td>
        </tr>
      </tbody>
    </table>
    <div class="">
      <p class="lead">
        <button class="btn btn-info btn-lg text-center" routerLink="/newmember">
          Add a New Member
        </button>
      </p>
    </div>
  </div>
</div>
