<div class="container pt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title bold">Track your Expenses!</h5>
      <p class="card-text">
        Split bills for shared group expenses. We tell you who owes whom and how
        to settle debts in groups.
      </p>
    </div>
    <img
      class="card-img-bottom"
      src="assets/img/carousel1.jpg"
      alt="Card image cap"
    />
  </div>
  <br />
  <br />
  <p class="text-large font-weight-bold">
    Very often on holiday, at partys, for presents or in free-time everyone pays
    something for a group of people. Calculating the payments afterwards to even
    out the group can be a daunting and complicated task (even with a
    calculator) - especially when some expenses are not shared with all group
    members. billzer.com helps you with that: After you entered everyone's name
    and the spendings she or he had for the group, the billzer calculator tells
    you who owes whom how much and how to settle debts in the group. It is also
    possible for expenses not be shared with the whole group and only among
    specific people.
  </p>
</div>
